body{
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

li{
    direction: rtl;
}

div{
    margin: 2%;
}

.completedTask{
    color: plum;
    text-decoration-line: line-through;
}

.activeTask{
    color: purple;
    font-size: medium;    
}
input{
    border-radius: 5px;
    border: 1px solid palevioletred;
    background-color: rgba(216, 112, 147, 0.2);
}